
#titulo{
    background-color: #31b943;
    color: white;
    text-align: center;
    border:  100px;
    padding: 10px;

}

#Formulario{
    color:white;
    background-color: rgba(89, 140, 236, 0.993);
    border-style: none;
}

#main{
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 25%;
    margin-right: 30%;
    background-color: white;
    border-radius: 0.5%;
    box-shadow: 5%;
}

body{
    background-color: gainsboro;
    margin:0;
    padding:0;

}

#siteColorido{
    text-align: center;
    color:white;
    background-color: rgb(41, 38, 38);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border:  100px;
    padding: 10px;
    
}